Repository MYAMBO/Zappy, pull requests merged in 2025-06, with the labels that each got.

#3 ai communication with server and compilation with Makefile
  Ai/.gitkeep
  Ai/Ai
  Ai/AiConnection
  Ai/src/Client.py
  Ai/src/CommandHandler.py
  Ai/src/Core.py
  Ai/src/startAi.py
  Makefile
  tests/Ai/test_Connection.py
  tests/Ai/test_commandhandler.py
Labels: enhancement, ai

#5 Feature logger
  Debug/Logger.cpp
  Debug/Logger.hpp
  Debug/Makefile
  Debug/logger.c
  Debug/logger.h
  Makefile
  Server/src/main.c
Labels: documentation, enhancement

#24 Server buffer handling
  Makefile
  Server/include/commands.h
  Server/include/garbage.h
  Server/include/handle_connection.h
  Server/include/init_player.h
  Server/include/options_parser.h
  Server/include/player.h
  Server/include/player_informations_protocol.h
  Server/include/poll_handling.h
  Server/include/server.h
  Server/include/split_string.h
  Server/include/struct.h
  Server/include/unique_connection_id_getter.h
  Server/src/commands/command_quit.c
  Server/src/garbage.c
  Server/src/handle_connection.c
  Server/src/handle_event.c
  Server/src/init_player.c
  Server/src/init_server.c
  Server/src/player_informations_protocol.c
  Server/src/poll_handling.c
  Server/src/split_string.c
  Server/src/start_server.c
  Server/src/unique_connection_id_getter.c
Labels: enhancement

#38 Server slots handling
  Makefile
  Server/include/commands.h
  Server/include/garbage.h
  Server/include/handle_connection.h
  Server/include/slot_handler.h
  Server/include/struct.h
  Server/src/command_execution.c
  Server/src/garbage.c
  Server/src/handle_connection.c
  Server/src/handle_event.c
  Server/src/main.c
  Server/src/options_parser.c
  Server/src/player_informations_protocol.c
  Server/src/slot_handler.c
Labels: enhancement

#39 Feature menu
  Gui/include/interfaces/IEntity.hpp
  Gui/src/AEntity/AEntity.cpp
  Gui/src/AEntity/AEntity.hpp
  Gui/src/Button/Button.hpp
  Gui/src/Client/Client.cpp
  Gui/src/Client/Client.hpp
  Gui/src/Items/AItem/AItem.cpp
  Gui/src/Items/AItem/AItem.hpp
  Gui/src/Items/Deraumere/Deraumere.cpp
  Gui/src/Items/Deraumere/Deraumere.hpp
  Gui/src/Items/Food/Food.cpp
  Gui/src/Items/Food/Food.hpp
  Gui/src/Items/Linemate/Linemate.cpp
  Gui/src/Items/Linemate/Linemate.hpp
  Gui/src/Items/Mendiane/Mendiane.cpp
  Gui/src/Items/Mendiane/Mendiane.hpp
  Gui/src/Items/Phiras/Phiras.cpp
  Gui/src/Items/Phiras/Phiras.hpp
  Gui/src/Items/Sibur/Sibur.cpp
  Gui/src/Items/Sibur/Sibur.hpp
  Gui/src/Items/Thystame/Thystame.cpp
  Gui/src/Items/Thystame/Thystame.hpp
  Gui/src/Menu/Menu.cpp
  Gui/src/Menu/Menu.hpp
  Gui/src/Player/Player.cpp
  Gui/src/Player/Player.hpp
  Gui/src/Scene/Scene.cpp
  Gui/src/Scene/Scene.hpp
  Gui/src/Settings/Settings.cpp
  Gui/src/Settings/Settings.hpp
  Gui/src/Tile/Tile.cpp
  Gui/src/Tile/Tile.hpp
  Gui/src/main.cpp
  Makefile
Labels: gui

#44 Server interaction between ai
  Makefile
  Server/include/eject_communication.h
  Server/include/look_around_communication.h
  Server/include/look_utils.h
  Server/include/movements_communication.h
  Server/src/eject_communication.c
  Server/src/look_around_communication.c
  Server/src/look_utils.c
  Server/src/main.c
  Server/src/movements_communication.c
Labels: server

#45 Graphic team handling
  Makefile
  Server/include/commands.h
  Server/include/graphic_connect.h
  Server/include/server.h
  Server/include/slot_handler.h
  Server/include/utils.h
  Server/src/command_execution.c
  Server/src/commands/command_forward.c
  Server/src/commands/command_pin.c
  Server/src/graphic_connect.c
  Server/src/handle_event.c
  Server/src/main.c
  Server/src/movements_communication.c
  Server/src/options_parser.c
  Server/src/slot_handler.c
  Server/src/start_server.c
  Server/src/utils.c
Labels: enhancement, server

#56 Server update ressources
  Makefile
  Server/include/actions_communication.h
  Server/include/generate_ressources.h
  Server/include/struct.h
  Server/src/actions_communication.c
  Server/src/generate_ressources.c
  Server/src/init_density.c
  Server/src/main.c
Labels: enhancement, server

#64 Feature incantation
  Gui/src/Client/Client.cpp
  Gui/src/Inventory/Inventory.cpp
  Gui/src/Player/Player.cpp
  Gui/src/Player/Player.hpp
Labels: gui

#63 feat(drop_command.c/take_command.c): add the drop et take command
  Makefile
  Server/include/commands.h
  Server/include/player_connection_protocol.h
  Server/src/commands/command_drop.c
  Server/src/commands/command_take.c
  Server/src/main.c
  Server/src/player_connection_protocol.c
  Server/src/player_informations_protocol.c
Labels: enhancement, server

#71 Feat time implementation
  Makefile
  Server/include/command_exec_handler.h
  Server/include/commands.h
  Server/include/eject_communication.h
  Server/include/get_signal_direction.h
  Server/include/player.h
  Server/include/struct.h
  Server/include/time_handler.h
  Server/src/actions_communication.c
  Server/src/command_exec_handler.c
  Server/src/command_execution.c
  Server/src/commands/command_bct.c
  Server/src/commands/command_broadcast.c
  Server/src/commands/command_eject.c
  Server/src/commands/command_inventory.c
  Server/src/commands/command_left.c
  Server/src/commands/command_look.c
  Server/src/commands/command_mct.c
  Server/src/commands/command_msz.c
  Server/src/commands/command_plv.c
  Server/src/commands/command_ppo.c
  Server/src/eject_communication.c
  Server/src/get_signal_direction.c
  Server/src/handle_event.c
  Server/src/incantation_communication.c
  Server/src/init_player.c
  Server/src/init_server.c
  Server/src/look_around_communication.c
  Server/src/look_utils.c
  Server/src/main.c
  Server/src/start_server.c
  Server/src/time_handler.c
  Server/src/utils.c
Labels: enhancement, server

#84 Feature GUI
  .gitattributes
  .gitignore
  Gui/include/Type.hpp
  Gui/src/AEntity/AEntity.cpp
  Gui/src/AEntity/AEntity.hpp
  Gui/src/Client/Client.cpp
  Gui/src/Client/Client.hpp
  Gui/src/Display/Display.cpp
  Gui/src/Display/Display.hpp
  Gui/src/Egg/Egg.cpp
  Gui/src/Egg/Egg.hpp
  Gui/src/Error/Error.cpp
  Gui/src/Error/Error.hpp
  Gui/src/Inventory/Inventory.cpp
  Gui/src/Menu/Menu.cpp
  Gui/src/Menu/Menu.hpp
  Gui/src/Player/Player.cpp
  Gui/src/Player/Player.hpp
  Gui/src/Scene/Scene.cpp
  Gui/src/Scene/Scene.hpp
  Gui/src/Settings/Settings.cpp
  Gui/src/Settings/Settings.hpp
  Gui/src/Sockets/Sockets.cpp
  Gui/src/Sockets/Sockets.hpp
  Gui/src/TeamsDisplay/TeamsDisplay.cpp
  Gui/src/TeamsDisplay/TeamsDisplay.hpp
  Gui/src/Tile/Tile.cpp
  Gui/src/Tile/Tile.hpp
  Gui/src/main.cpp
  Makefile
  assets/dead/license.txt
  assets/dead/scene.bin
  assets/dead/scene.gltf
  assets/dead/textures/Cemetery_MATSG_baseColor.png
  assets/egg/license.txt
  assets/egg/scene.bin
  assets/egg/scene.gltf
  assets/player/license.txt
  assets/player/scene.bin
  assets/player/scene.glb
  assets/player/textures/Material_baseColor.png
Labels: gui

#96 Server handle commands
  Makefile
  Server/include/command_exec_handler.h
  Server/include/commands.h
  Server/include/incantation_list.h
  Server/include/send_init_graphic.h
  Server/include/send_slot_messages.h
  Server/include/send_slots_remaining.h
  Server/include/slot_handler.h
  Server/include/struct.h
  Server/include/time_exec_handler.h
  Server/src/actions_communication.c
  Server/src/command_exec_handler.c
  Server/src/command_execution.c
  Server/src/commands/command_connect_nbr.c
  Server/src/commands/command_eject.c
  Server/src/commands/command_forward.c
  Server/src/commands/command_incantation.c
  Server/src/commands/command_left.c
  Server/src/commands/command_right.c
  Server/src/commands/command_sst.c
  Server/src/commands/command_take.c
  Server/src/commands/command_tna.c
  Server/src/eject_communication.c
  Server/src/generate_ressources.c
  Server/src/handle_event.c
  Server/src/handle_fork_communication.c
  Server/src/incantation_communication.c
  Server/src/incantation_list.c
  Server/src/incantation_protocol.c
  Server/src/inventory_communication.c
  Server/src/main.c
  Server/src/options_parser.c
  Server/src/player_informations_protocol.c
  Server/src/send_init_graphic.c
  Server/src/send_slot_messages.c
  Server/src/send_slots_remaining.c
  Server/src/slot_handler.c
  Server/src/start_server.c
  Server/src/time_exec_handler.c
  Server/src/time_handler.c
  Server/src/time_unit_protocol.c
  Server/src/utils.c
Labels: bug, enhancement

#103 Server handle commands
  Server/include/send_init_graphic.h
  Server/src/commands/command_drop.c
  Server/src/commands/command_incantation.c
  Server/src/commands/command_take.c
  Server/src/send_init_graphic.c
  Server/src/start_server.c
  Server/src/time_exec_handler.c
Labels: enhancement
